*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
libs/
src/main/res/drawable/
src/main/res/layout/fragment/
src/main/res/layout/list_items/
.idea
app/src/main/res/drawable/
app/src/main/res/layout/fragment/
app/src/main/res/layout/list_items/
